@import "tailwindcss";

*,html{
  scrollbar-width:thin;

  & article.layout{
    background-image: linear-gradient(
      90deg,
      #3063bd 0%,
      #4A5568 100%
    );
    display:grid;
    grid-template: 90dvh 10dvh / 10dvw 90dvw;

  }


}
