@import "tailwindcss";

*,html{
  scrollbar-width:thin;
  scrollbar-color: #4A5568 #2D3748;
  color:white;

  & article.layout{
    background-image: linear-gradient(
      90deg,
      #2D3748 0%,
      #4A5568 100%
    );
    display:grid;
    grid-template: 90dvh 10dvh / 10dvw 90dvw;

  }


}
